.box {

    width: 100%;
    height:100%;
    
    .linksWrapper{
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .link {
            margin: 40px 0  ;
            font-size: 40px;
            color: white;
            transition: 0.4s;

    
            &:hover {
                scale: 1.6;
                transition: 0.4s;
                cursor: pointer;
                color: #f0b864;
                ;
            }
        }
    
    }
    

    .anyIdeasForRegistration{
        width: 100%;
        // background-color: blue;
        height: 40%;
        margin-top: 40%;
    }
}